form{
    width: 780px;
    height: 287px;
background: #AD9BE9;
border-radius: 12px;

}
.containerr{
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.buttons{
    width: 350px;
    display: flex;
    justify-content: flex-end;
    margin-top: 112px;
}